* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: darkgray;
    overflow-x: hidden;
}

/* upload picture*/
#picture__input {
    display: none;
}

.picture {
    width: 300px;
    aspect-ratio: 16/9;
    background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    border: 2px dashed currentcolor;
    cursor: pointer;
    font-family: sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
    outline: none;
    overflow: hidden;
}

.picture:hover {
    color: #777;
    background: #ccc;
}

.picture:active {
    border-color: turquoise;
    color: turquoise;
    background: #eee;
}

.picture:focus {
    color: #777;
    background: #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.picture__img {
    max-width: 100%;
}

/* Dice img*/

.dice-img{
    width: 5vw;
    height: 5vh;
}

/* Bag img*/

.bag-img{
    width: 5vw;
    height: 8vh;
}



/* PAGE FONT'S*/

@font-face {
    font-family: "Comfortaa";
    src: url("./assets/font/Comfortaa-Regular.ttf");
}
@font-face {
    font-family: "Roboto";
    src: url("./assets/font/Roboto-Thin.ttf");
}